
@font-face {
    font-family: 'top_secretsans';
    src: url('../assets/fonts/topsecret-sans-webfont.woff2') format('woff2'),
         url('../assets/fonts/topsecret-sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    background: #15141A url("../assets/images/chainlink_xl.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	font-family:'top_secretsans';
	color:#A6B556;
	font-size: 100%;
	background: transparent
}

nav {
	font-family:'top_secretsans';
	background-color:#15141A;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	float: left;
}

li a {
    display: block;
	color:#A6B556;
	font-size: 1.5em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
	font-size: 4em;
}

.z-green {
	color:#A6B556;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: red;
  border-color: red;
}