
@font-face {
    font-family: 'top_secretsans';
    src: url('../assets/fonts/topsecret-sans-webfont.woff2') format('woff2'),
         url('../assets/fonts/topsecret-sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
    background: #15141A url("../assets/images/chainlink.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	font-family:'top_secretsans';
	color:#A6B556;
	font-size: 100%;
	background:transparent;
}

p {
	font-size: 130%;
}

nav {
	font-family:'top_secretsans';
	background-color:#15141A;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-nav > .active > li > a {
    background-color: #444348;
}

.nb-ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.nb-a {
	color:#A6B556;
	background-color:#15141A;
	font-size: 1.5em;
    padding: 14px 16px;
}

h1 {
	font-size: 3em;
}

.black-background {
	background-color: rgba(0,0,0,0.9);
	padding: 10px;
	margin: 10px;
	border-radius: 25px;
	width: 75%;
}

.green-background {
	background-color: rgba(0,40,20,0.9);
	padding: 10px;
	margin: 10px;
	border-radius: 25px;
	width: 75%;
}

img.page-title {
	display: block;
	margin-left:auto;
	margin-right:auto;
    width: 260px; 
    height: auto;
	padding:0px;
}

img.about {
    width: 400px; 
    height: auto;
	padding:0px;	
}

div.page-footer {
	background-color: rgba(0,0,0,0.9)
}

.z-green {
	color:#A6B556;
}

.z-red {
	color:#A7323B;
}

.z-purple {
	color:#63203F;
}

.z-black {
	color:#15141A;
}

.z-gray {
	color:#31253D;
}

.no-padding {
	padding:0px;
}

.archive {
	color:white;
	width:50%;
	border-color:black;
	font-size:18px;
}


