
@font-face {
    font-family: 'top_secretsans';
    src: url('../assets/fonts/topsecret-sans-webfont.woff2') format('woff2'),
         url('../assets/fonts/topsecret-sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
    background: #15141A url("../assets/images/chainlink.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	font-family:'top_secretsans';
	color:#A6B556;
	font-size: 100%;
	background:transparent;
}

p {
	font-size: 130%;
}

nav {
	font-family:'top_secretsans';
	background-color:#15141A;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.z-active {
	color:#15141A;
    background-color: #444348;
}

.nb-ul > .nb-a{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.nb-a {
	align:center;
	color:#A6B556;
	background-color:#15141A;
	font-size: 1.5em;
    padding: 14px 16px;
	margin-right: 10px;
	margin-left: 10px;
}

h1 {
	font-size: 3em;
}

.black-background {
	background-color: rgba(0,0,0,0.9);
	padding: 10px;
	margin: 10px;
	border-radius: 25px;
	width: 75%;
}

.green-background {
	background-color: rgba(0,40,20,0.9);
	padding: 10px;
	margin: 10px;
	border-radius: 25px;
	width: 75%;
}

img.page-title {
	display: block;
	margin-left:auto;
	margin-right:auto;
    width: 260px; 
    height: auto;
	padding:0px;
}

img.about {
    width: 400px; 
    height: auto;
	padding:0px;	
}

div.page-footer {
	background-color: rgba(0,0,0,0.9)
}

.z-green {
	color:#A6B556;
}

.z-green:hover {
	color:#fff;
}

.z-red {
	color:#A7323B;
}

.z-purple {
	color:#63203F;
}

.z-black {
	color:#15141A;
}

.z-gray {
	color:#31253D;
}

.no-padding {
	padding:0px;
}

.archive {
	color:white;
	width:50%;
	border-color:black;
	font-size:18px;
}

.nav > li > a:hover{
    background-color:#A6B556;
	color:black;
}

.navbar-active {
	background-color:#A6B556;
	color:black;
}

/*Preventing vertical dividers from appearing collapsed*/
@media (max-width: 420px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

/*Defining the vertical dividers*/
.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #DADADA;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

@media (max-width: 1160px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

