
@font-face {
    font-family: 'top_secretsans';
    src: url('../assets/fonts/topsecret-sans-webfont.woff2') format('woff2'),
         url('../assets/fonts/topsecret-sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family:'top_secretsans';
	color:#A6B556;
	font-size: 100%;
	background: #15141A url("../assets/images/chain-link.jpg") no-repeat right top;
}

nav {
	font-family:'top_secretsans';
	background-color: #31253D;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	float: left;
}

li a {
    display: block;
	color:#A6B556;
	font-size: 1.5em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
	font-size: 3em;
}

.z-green {
	color:#A6B556;
}